name: Test

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Diff exists
            left: ./tests/left.yml
            right: ./tests/right.yml
            fail-on-diff: false
            want-status: 1
            want-outcome: success
          - name: No diff
            left: ./tests/left.yml
            right: ./tests/left.yml
            fail-on-diff: false
            want-status: 0
            want-outcome: success
          - name: Diff exists with fail-on-exit
            left: ./tests/left.yml
            right: ./tests/right.yml
            fail-on-diff: true
            want-status: 1
            want-outcome: failure
          - name: No diff with fail-on-exit
            left: ./tests/left.yml
            right: ./tests/left.yml
            fail-on-diff: true
            want-status: 0
            want-outcome: success
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run the action
        id: run
        continue-on-error: true
        uses: ./
        with:
          left: ${{ matrix.left }}
          right: ${{ matrix.right }}
          fail-on-diff: ${{ matrix.fail-on-diff }}
      - name: Assert the result
        env:
          GOT_STATUS: ${{ steps.run.outputs.status }}
          GOT_OUTCOME: ${{ steps.run.outcome }}
          WANT_STATUS: ${{ matrix.want-status }}
          WANT_OUTCOME: ${{ matrix.want-outcome }}
        run: |
          result=0

          if [[ "$GOT_STATUS" != "$WANT_STATUS" ]] ; then
            echo "Status: want ${WANT_STATUS} but got ${GOT_STATUS}"
            result=1
          fi
          if [[ "$GOT_OUTCOME" != "$WANT_OUTCOME" ]] ; then
            echo "Outcome: want ${WANT_OUTCOME} but got ${GOT_OUTCOME}"
            result=1
          fi

          exit "$result"

  build:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build container image
        run: docker build -t k8s-object-diff .

  lint:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Enable Shellcheck problem matcher
        run: echo "::add-matcher::.github/shellcheck-matcher.json"
      - name: Shellcheck
        run: |
          shellcheck -f gcc *.sh
          echo "::remove-matcher owner=shellcheck-matcher::"
